
.client-content {
    padding: 50px 0 30px 0;
}

.client-content > h2{
    font-size: 20px;
}

=

/************************************************ Client Job Listing -----------------------------------------*/
.job-listing div.details,
.job-listing div.job {
    margin-bottom: 40px;
}

.job-listing a.but_edit,
.job-listing a.but_remove_2 {
    padding: 5px 20px;
}

.job-listing h5.budget span {
    font-size: 20px;
    color: #ee5555;
    vertical-align: bottom;
}

.job-listing p.description {
    margin-bottom: 20px;
}

.job-listing h5.budget label {
    vertical-align: bottom;
    margin-bottom: 0;
}
.job-listing div.job label.paid_green {
    color: #5fcf80;
    vertical-align: bottom;
    margin-bottom: 0;
}
.job-listing div.job label.paid_red{
    color: #ee5555;
    vertical-align: bottom;
    margin-bottom: 0;
}