.push-right {
	float: right;
	overflow: hidden;
}
.text-align{
	text-align: center;
}
.top-bot-margin1{
    margin:20px 0px 20px 0px; 
}
.top-bottom-margin {
	margin:10px 0px 10px 0px; 
}
.top-bot-margin1{
	margin:20px 0px 20px 0px; 
}
.left-right-margin {
	margin:0px 5px 0px 5px; 
}
.display-inline{
	display:inline;
}
.uname
{
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
}
.margin_defaullt
{
	margin:0;
}
.margin_bottom
{
	margin-bottom: 10px;
}

/*search freelancers*/
.freelancer-list-container input[type="text"]{
	outline: none;
	font-size: 16px;
	color: #333;
	padding: 10px 40px 14px 10px;
	border: 2px solid #e1e1e1;
	font-family: inherit;
	font-weight: 500;
	border: 1px solid #e3e3e3;
}
#search_freelancers_btn{
	    padding: 6px 9px 8px 9px;
}
.search-freelancer-filter{
	padding: 20px !important;
	border-bottom: 1px solid #cecece;
}
.freelancer-search-form{
	width: 100%;
	position: relative;
}
.freelancer-search-form .q-s{
	width: 80%;
}
.freelancer-search-form .s-btn {
    right: 110px;
    background-color: #5FCF80;
    bottom: 0px;
    position: absolute;
}
.freelancer-search-form .s-btn i{
	color: white;
}
.filters-div{
	padding: 20px 0;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	width: 100%;
	border-top: 1px solid #cecece;
}
.filters-div .filter-heading{
	padding-bottom: 7px;
}
.filters-div ul li{
	line-height: 1.9;
}
.filter-category-wrap p a{
	color: #2E8748;
	font-weight: 600;
	margin-right: 10px;
}
.filter-location-wrap label{
	margin-bottom: 7px;
}
.filter-location-wrap i{
	position: absolute;
	top: 43px;
	left: 10px;
	z-index: 999;
	color: #5fcf80;
}
.filter-close-wrap{
	/*margin-top: 110px;*/
}
.filter-location-wrap input{
	display: block;
	width: 80%;
	position: relative;
	padding-left: 30px !important;
}
.filter-location-wrap input{
	display: block;
	width: 80%;
}
.freelancer-listing{
	line-height: 2;
}
.freelancer-details{
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cecece;
}
.freelancer-details .vendimg {
    width: 60px;
    height: 60px;
  }
.freelancer-details:last-child { border-bottom: none;  }
.freelancer-earnings-div{
	margin: 3px 0 13px;
}
.freelancer-earnings-div span{
	width: 33%;
	float: left;
}
.freelancer-earnings-div span .fa{
	margin-right: 5px;
}
.freelancer-earnings-div .job-success-progress{
	display: inline-block;
	width: 60%;
	bottom: 12px;
	position: relative;
}
#review_proposals_div .freelancer-details{
	margin-bottom: 0! important;
	padding-bottom: 0!important;
}
.job-success-progress .progress-complete{
	display: inline-block;
	background-color: #33CCFF;
	height: 3px;
	width: 80%;
}
.job-success-progress .progress-pending{
	display: inline-block;
	background-color: #E1E1E1;
	height: 3px;
	width: 20%;
}
.list-empty{
	padding: 50px;
}
#invitation_modal .modal-body{
	width: 100%;
	float: left;
}
#send_job_invite_btn{
	margin-bottom: 15px;
}
input[type="text"]:hover{
	border: 1px solid #5fcf80;
}
.iInput{
	width: 100%;
	outline: none;
	font-size: 12px;
	color: #333;
	padding: 10px 40px 10px 10px;
	border: 2px solid #e1e1e1;
	font-family: inherit;
	font-weight: 700;
	margin-bottom: 10px;
}

/*MESSAGE PAGE*/
.messages-page{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 20px 20px 20px;
	background-color: white;
	max-height: 750px;
	min-height: 400px;
}
.messages-page .alert{
	top: 150px;
	position: relative;
}
.messages-page .left-pane{
	overflow-y: auto;
}
.messages-page .left-pane .message-settings,
.messages-page .right-pane .message-header
{
	background-color: #F2F2F2;
	margin-bottom: 10px;
	padding: 10px 15px;
	float: left;
	width: 100%;
}
.message-brief-wrap{
	overflow: auto;
}
.message-brief{
	line-height: 1.5;
	margin-top: 10px;
	border-bottom: 1px solid #ececec;
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
.message-brief span{
	display: block;
}
.message-brief.selected {
    border-right: 5px solid #5FCF80;
}
.message-brief span{
	font-size: 13px;
}
.message-wrap{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding: 7px;
	background-color: #f8f8f8;
	color: #000000;
}
.message-brief>a{
	float: left;
	width: 100%;
}
#send_message_txt{
	margin-top: 10px;
}
.hire_user_div{
	margin-bottom: 20px;
}
.hire_user_div h2{
	margin-top: 15px;
	margin-bottom: 15px;
}
.hire-content textarea{
	resize: none;
}
.hire-content .cancel_btn{
	background-color: #ffffff;
	color: #7d7d7d;
}
#close_filters{
	margin-right: 3px;
	background-color: #ffffff;
}
.msg_hdng{
	margin-bottom: 0px;
}
.last_msg_dt{
	margin-bottom: 20px;
}
/*<----------------------pagination--------------/>*/
.paginate ul.pagination li.active span{
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
    color: white;
}
/*<=---------------------end  pagination------>*/
@media only screen and (max-width: 991px) and (min-width:842px ) {
.freelancer-list-container input[type="text"]{
	outline: none;
	font-size: 14px;
	color: #333;
	padding: 9px 40px 12px 10px;
	border: 2px solid #e1e1e1;
	font-family: inherit;
	font-weight: 500;
	border: 1px solid #e3e3e3;
}
#search_freelancers_btn{
	padding: 8px 9px 9px 9px;
}
}