/* SERVICES TABS LINKS */
ul.tabs{
	margin: 2em 0 2em 1.1em !important;
	padding: 0px !important;
	list-style: none !important;
	float: left !important;
}
ul.tabs li{
	background: none !important;
	color: #32325d !important;
	font-weight: 800 !important;
	display: inline-block !important;
	padding: 15px 15px !important;
	cursor: pointer !important;
}
ul.tabs li.current{
		background: transparent !important;
		color: #3ecf8e !important;
		border-bottom: 3px solid #3ecf8e !important;
		/* border-radius: 3px !important; */
	}
.tab-content{
	display: none !important;
	background: transparent !important;
	 padding: 15px !important; 
}
.tab-content.current{
	display: inherit !important;
}
/* END TABS */
.span_1_of_5 {
	width: 18% !important;
		/*border: 1px solid #f5f5f5 !important;*/
	font-weight: bold !important;
}
.major a {
    border: 3px solid #3ecf8e !important;
		color: #3ecf8e !important;
}
.major a:hover{
		background-color: #3ecf8e !important;
		border: 3px solid #3ecf8e !important;
}
	/* TRIP BOX DESIGN */
.card-container {
  width: 48% !important;
	border-radius: 3px !important;
  background-color: #fff !important;
  margin: 1% 0 1% 1.6% !important;
  height: 15em !important;
  position: relative !important;
  overflow: hidden !important;
  float: left !important;
	box-shadow: 0 2px 0 0 rgba(207,215,223,.25) !important;
}
/* LEFT BOX DESIGN */
.lft-dt {
	width: 13em !important;
	margin-right: .61em !important;
  overflow: hidden !important;
	height: 100% !important;
  /* margin: .8em .0em .8em 0 !important; */
  float: left !important;
}
.left-dt-avt {
  height: 100% !important;
  line-height: 15em !important;
  text-align: center !important;
  width: 100% !important;
  border-radius: 3px !important;
  /* margin: 0 auto .8em auto !important; */
  clear: both !important;
  border: 1px solid #f5f5f5 !important;
  background-color: #f5f5f5 !important;
}
.rgt-dt-dt {
  height: 65px !important;
  /* width: 100% !important; */
  margin: 0 .8em 0 .8em !important;
  text-align: left !important;
  overflow: hidden !important;
}
.rgt-dt-rate {
  float: left !important;
  width: 50% !important;
  text-align: center !important;
}
.rgt-dt-rate .rgt-dt-rate-title {
  font-size: .9em !important;
	font-weight: bold !important;
	line-height: 1em !important;
}
.rgt-dt-rate .rgt-dt-rate-icons {
  font-size: .9em !important;
  font-weight: bold !important;
  color: #3ecf8e !important;
}
.rgt-dt-review {
  float: left !important;
  width: 50% !important;
  text-align: center !important;
}
.rgt-dt-review .rgt-dt-review-title {
  font-size: .9em !important;
	font-weight: bold !important;
	line-height: 1em !important;
}
.rgt-dt-review .rgt-dt-review-icons {
  font-size: .9em !important;
	/* font-weight: bold !important; */
  /* color: #3ecf8e !important; */
}
/* END DESIGN */
/* RIGHT BOX DESIGN */
.rgt-dt {
  float: left !important;
  width: 55.8% !important;
  margin: .8em .8em .8em 0 !important;
}
.rgt-dt-header {
  height: 70px !important;
  position: relative !important;
  border-bottom: 1px solid #f5f5f5 !important;
}
.rgt-dt-header-price {
	position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  text-align: center !important;
  font-weight: bold !important;
  font-size: 1em !important;
  color: #fff !important;
  background: #3ecf8e !important;
  padding: .4em !important;
  border-radius: 3px !important;
}
.rgt-dt-header-left {
  overflow: hidden !important;
  height: auto !important;
  width: 78% !important;
}
.rgt-dt-header-left h3 {
  font-size: 1.1em !important;
	font-weight: bold !important;
  margin: 0 0 .2em 0 !important;
}
.rgt-dt-header-left h4 {
  font-weight: normal !important;
  font-size: .9em !important;
}
.rgt-dt-header-detals {
  padding: 0 0 .8em 0 !important;
  height: 5.7em !important;
  overflow: hidden !important;
  margin: .8em 0 !important;
  line-height: 1.3em !important;
	font-size: .85em !important;
}
/* END DESIGN */
.trip_area {
	padding: 0em 0 5em 0 !important;
	/* border-bottom: 2px solid rgba(207,215,223,.25) !important; */
}
.trip_steps {
	font-size: 1.5em !important;
	color: #8898aa !important;
}
.button-trip {
	background-color:#3ecf8e !important;
	color: #fff !important;
	border-radius: 3px !important;
	padding: 1em 2em !important;
	cursor: pointer !important;
	font-weight: bold !important;
	position: relative !important;
	top: 2em !important;
	box-shadow: 0 2px 7px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07) !important;
}
.button-trip:hover{
	color: #fff !important;
}
.trip_steps p{
	font-weight: bold !important;
	margin: 0 1em 0 1em !important;
	display: inline-block !important;
}
.trip_area .section {
	clear: both !important;
	padding: 0px !important;
	margin: 0px !important;
}

/*  COLUMN SETUP  */
.trip_area .col {
	display: block !important;
	float:left !important;
	margin: 1% 0 1% 1.6% !important;
	text-align: center !important;
	height: auto !important;
	overflow: none !important;
}
.trip_area .col:first-child { margin-left: 0 !important; }

/*  GROUPING  */
.trip_area .group:before,
.group:after { content:"" !important; display:table !important; }
.group:after { clear:both !important;}
.group { zoom:1 !important; /* For IE 6/7 */ }
.span_3_of_3 { width: 100% !important; }
.span_2_of_3 { width: 66.13% !important; }
.span_1_of_3 { width: 32.26% !important; }

/* End Trip Design */
.trg-country {
	color: #3ecf8e !important;
	font-weight: bold !important;
	float: right !important;
	font-size: 1.3em !important;
}
.abt-detls p{
	font-size: .89em !important;
	color: #333 !important;
	line-height: 1.5em !important;

}
.review-cdt span{
	font-weight: bold !important;
}
.abt-price {
	float: left !important;
	width: 4.7em !important;
	line-height: 70px !important;
	text-align: center !important;
}
.abt-price h4 {
	font-size: 1.5em !important;
	color: #3ecf8e !important;
	font-weight: bold !important;
}
.bhs {
	clear: both !important;
	padding: 0 0 5px 0 !important;
	position: relative !important;
	height: 3em !important;
	line-height: 2em !important;
}
.review-cdt{
	float: left !important;
}
.rate-cdt {
	float: right !important;
}
/* END */
/* HOW IT WORKS SECTION */
.hw_wrp {
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
}
.hw_wrp {
	color: #6b7c93 !important;
	font-size: 1em !important;
}
.hw_tp_dv {
	text-align: left !important;
	height: 14em !important;
}
.hw_bp_dv {
	text-align: left !important;
	height: 14em !important;
}
.hiw-icon{
	width: 13em !important;
}
.hw_tp_dv img {
	float: left !important;
	margin-right: 3em !important;
}
.hw_tp_dv_ct {
	float: left !important;
	width: 51em !important;
}
.hw_tp_dv_ct h4 {
	font-weight: bold !important;
	font-size: 1.5em !important;
	float: left !important;
	color: #32325d !important;
}
.hw_tp_dv_ct img {
	float: left !important;
	width: 3em !important;
	margin-left: 3em !important;
}
.hw_bp_dv img {
	float: right !important;
	margin-left: 3em !important;
}
.hw_bp_dv_ct {
	float: right !important;
	width: 51em !important;
}
.hw_bp_dv_ct h4 {
	font-weight: bold !important;
	font-size: 1.5em !important;
	float: right !important;
	color: #32325d !important;
}
.hw_bp_dv_ct img {
	float: right !important;
	width: 3em !important;
	margin-right: 3em !important;
}
/* END */
#job-bidding h3 {
		border-bottom: 2px solid rgba(207,215,223,.25) !important;
}
#job-bidding ul li a{
		color: #8898aa !important;
		font-weight: bold !important;
		text-decoration: none !important;
	}
	#job-bidding ul li a:hover{
		color:#3ecf8e !important;

	}

	.see-btn {
		position: relative !important;
		font-weight: bold !important;
		top: 3.5em !important;
		color: #3ecf8e !important;

		border: 2px solid #3ecf8e !important;
		/* box-shadow: 0 1px 3px rgba(36,180,126,.4) !important; */
		padding: 1em !important;
		border-radius: 3px !important;
		-webkit-border-radius: 3px !important;
		-moz-border-radius: 3px !important;
		-ms-border-radius: 3px !important;
		-o-border-radius: 3px !important;
	}
	.see-btn a{
		text-decoration: nnone !important;
	}
	.see-btn:hover{
		border-bottom: 2px solid #3ecf8e !important;
		border-top: 2px solid #3ecf8e !important;
		border-left: 2px solid #3ecf8e !important;
		border-right: 2px solid #3ecf8e !important;
		background-color: #3ecf8e !important;
		color: #fff !important;
	}
		/* TAB SEARCH BAR */
	.tab-search-form {
		width: 18em !important;
		position: relative !important;
	}
	.tab-search-btn {
		position: absolute !important;
		right: 0 !important;
		font-size: .8em !important;
		/*top: .7em !important;*/
		padding: 0px 10px 0px 10px !important;
		/*padding: .82em 1.2em !important;*/
		/*outline: none !important;*/
		border: 0 !important;
	}
/* HEADER SEARCH BAR */
	#search-arear {
		width: 36.45em !important;
	}
	#search-arear .src-q {
		padding: .98em 1.5em !important;
		width:26.9em !important;
		font-family: inherit !important;
		border-left: 1px solid #e6eaef !important;
		border-top: 1px solid #e6eaef !important;
		border-bottom: 1px solid #e6eaef !important;
		border-right: 0 !important;
		float: left !important;

		outline: none !important;
		border-radius: 3px 0 0px 3px !important;
		-webkit-border-radius: 3px 0 0px 3px !important;
		-moz-border-radius: 3px 0 0px 3px !important;
		-ms-border-radius: 3px 0 0px 3px !important;
		-o-border-radius: 3px 0 0px 3px !important;
		font-weight: bold !important;
		color: #32325d !important;
	}
	#search-arear .src-q:focus{
		border-left: 1px solid #3ecf8e !important;
		border-top: 1px solid #3ecf8e !important;
		border-bottom: 1px solid #3ecf8e !important;
	}
	#search-arear .search-btn {
		position: absolute ;
		/*right: 4em ;*/
		height:  auto ;
		top: .0em ;
		outline: none ;
	/*	padding: 1.08em 1.5em ;*/
		margin: 0px -51px 0px 0px ;
     padding: 20px 0px 21px 0px ; 
		width: 9em ;
		background-color: #3ecf8e ;

    border-top: 1px solid #3ecf8e ;
    border-right: 1px solid #3ecf8e ;
    border-bottom: 1px solid #3ecf8e ;
    border-left: 0 ;
		color: #fff ;
		font-weight: 600 ;
		border-radius: 0px 3px 3px 0px ;
	}
.find_special .col {
		height: 5.5em !important;
		line-height: 5.5em !important;
	}
	.span_01 a{
		color:#2ed573 !important;
	}
	.span_11 a{
		color:#ffa502 !important;
	}
	.span_21 a{
		color:#ff6348 !important;
	}
	.span_31 a{
		color:#1e90ff !important;
	}
	.span_41 a{
		color:#5352ed !important;
	}
.col {
		display: block !important;
		float:left !important;
		height: 10em ;

		/* background-color: #fafafa !important; */
		margin: 1% 0 1% 1.6% !important;
		/* overflow: hidden !important; */
	}
	.rent-div .col {
		/* line-height: 10em !important; */
	}
	.col a {
		display: block !important;
		min-height: 100% !important;
	}
	.model_info_div {
			position: absolute !important;
			bottom: 0px !important;
			height: 4em !important;
			/* background: linear-gradient(rgba(178, 190, 195,0.5),rgba(45, 52, 54,1.0)) !important; */
			background-color: rgba(45, 52, 54,0.5) !important;
			width: 100% !important;
		}
		.model-div a {
			display: block
		}
		.model_info_div h3 {
			line-height:1.5em !important; color: #fff !important;
			font-size: 1.5em !important;
			font-weight: bold !important;
		}
			.model_info_div h4 {
				line-height: 0 !important; color: #fff !important; font-size: .9em !important;
			}
		.model_info_age{
			position: absolute !important;
			top: 2px !important;
			right: 2px !important;
			color: #fff !important;
			background: #6772e5 !important;
			line-height: 40px !important;
			width: 40px !important;
			height: 40px !important;
			border-radius: 40px !important;
		}
		.model_info_age small{
			font-size: .5em !important;
		}
#search-arear {
				width: 80% !important;
			}
				#search-arear .src-q{
				width:100% !important;
				float: none !important;
				margin: 0 0 1em 0 !important;
				border-radius: 3px 0 0px 3px !important;
				-webkit-border-radius: 3px 0 0px 3px !important;
				-moz-border-radius: 3px 0 0px 3px !important;
				-ms-border-radius: 3px 0 0px 3px !important;
				-o-border-radius: 3px 0 0px 3px !important;
				font-weight: bold !important;
			}

	body {
		background: #f6f9fc !important;
	}
	h1, h2, h3, h4, h5, h6 {

		color: #646464 !important;
		font-weight: 300 !important;
		line-height: 1em !important;
		margin: 0 0 0.5em 0 !important;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {

			color: inherit !important;
			text-decoration: none !important;
		}

	h2 {

		font-size: 2.25em !important;
		line-height: 1.5em !important;
		letter-spacing: -0.035em !important;
	}

	h3 {

		font-size: 1.75em !important;
		line-height: 1.5em !important;
		letter-spacing: -0.025em !important;
	}

	h4 {

		font-size: 1.1em !important;
		line-height: 1.5em !important;
		letter-spacing: 0 !important;
	}

	h5 {

		font-size: 0.9em !important;
		line-height: 1.5em !important;
		letter-spacing: 0 !important;
	}

	h6 {

		font-size: 0.7em !important;
		line-height: 1.5em !important;
		letter-spacing: 0 !important;
	}
	.box {
		background: #fff !important;
		/* border-radius: 6px !important; */

		margin: 0 0 0 0 !important;
		/* padding: 2em !important; */
		border-radius: 3px !important;
		/* margin-bottom: 5em !important; */
	}

	.find_special{
		box-shadow: 0 2px 0 0 rgba(207,215,223,.25) !important;
	}
	/*.box.features .tfeatures-row section {
				float: left !important;
				margin-top: 50px !important;
				padding: 1em !important;
				width: 33% !important;
		}*/
		/*.hiw-icon{
			width: 11em !important;
		}*/
#header {
		background: #fff !important;
		color: #333 !important;
		border-bottom: 1px solid #e6eaef !important;
		/* box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07) !important; */
		cursor: default !important;
		height: 4.3em !important;
}
#header h1 {
		left: 1em !important;
	}
	#header .logo-avat {
			margin: .5em 0 0 0 !important;
	}
	#header nav {
		right: 1em !important;
	}
	#header nav > ul > li .button {
		padding: 8px 18px 31px 20px !important;
		box-shadow: 0 2px 5px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07) !important;
		border-radius: 3px !important;
		font-weight: bold !important;
	}
	#header .button {
			background-color: #3ecf8e !important;
		}
	#header.alt {
		background: #3ecf8e	 !important;
	}
	#banner {
		/* background-attachment: fixed,							fixed !important; */
		background-color: #fff !important;
		/* border-bottom: 1px solid #e6eaef !important; */
		box-shadow: 0 2px 0 0 rgba(207,215,223,.25) !important;
		/* background-image: url("/images/background_saver.jpg"), url("/images/background_saver.jpg") !important; */
		/* background-position: center center,						center center !important;
		background-repeat: no-repeat,							no-repeat !important;
		background-size: cover,							cover !important; */
		color: #333 !important;
		padding: 12em 0 10em 0 !important;
		position: relative !important;
		text-align: center !important;
		height: 455px !important;
	}
	#services-box {
		background-color: #fff !important;
		
		/* line-height: 90px !important; */
		box-shadow: 0 2px 0 0 rgba(207,215,223,.25) !important;
		overflow: hidden !important;
	}
	#services-box ul {
		list-style: none !important;
		padding: 0px !important;
		margin: 0px !important;
		text-align: center !important;
	}
	#services-box li {
		display: inline-block !important;
		width: 13%;
    	vertical-align: top;
	}
	#services-box li a {
		display: block !important;
		/*padding: 0 2.6em !important;*/
	}
	.banner_cover {
		position: absolute !important;
		color: #333 !important;
	    width: 100% !important;
	    height: 100% !important;
	    top: 0 !important;
	    left: 0 !important;
	    z-index: 1 !important;
		background-color: #fff !important;
		/* background-color: rgba(47,48,51,.35) !important; */
	}
	.banner_content_placeholder {


		margin: 7em 12em !important;
		text-align: left !important;
		width: 36em !important;
	}
	.banner_content_h1 {
		font-size: 40px !important;
    line-height: 44px !important;
    font-weight: 800 !important;
		color: #32325d !important;
	}
	.banner_content_placeholder h3{
		font-size: 23px !important;
		line-height: 32px !important;
		color: #32325d !important;
	}
	/* MORE SERVICES */
	.MoreServices-service-services {
		width: 33% !important;
		/* display: inline-block !important; */
		float: left !important;
	}
	.MoreServices-service-header {
	    padding-bottom: 6px !important;
	}
	.tp-title-3 {
	    font-size: 24px !important;
	    line-height: 32px !important;
	    font-weight: 700 !important;
	}
	/* END MORE SERVICES */
	/* Footer */
	.full-footer {
	    background: #fff !important;
	  padding-top: 48px !important;
		border-top: 1px solid #e6eaef !important;
	}
	.footer-grid {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-left: -16px !important;
	}
	.tp-col--lg-2 {
    -ms-flex-preferred-size: 16.66666667% !important;
    flex-basis: 16.66666667% !important;
    max-width: 16.66666667% !important;
	}
	.tp-col {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    padding-left: 16px !important;
	}
	.full-footer__item__title {
    font-size: 18px !important;
    cursor: default !important;
    padding-top: 0 !important;
    padding-bottom: 16px !important;
	}
	.full-footer__item__title {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    cursor: pointer !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
	}
	.tp-col--lg-4 {
    -ms-flex-preferred-size: 45% !important;
    flex-basis: 45% !important;
    max-width: 45% !important;
	}
	.full-footer__item__text {
	font-weight: 800 !important;
	color:#32325d !important;
	font-size: .9em !important;
	}
	#cta {
		background: #3ecf8e !important;
	}
	#cta .button {
			box-shadow: none !important;
			background: #fff !important;

			color: #3ecf8e !important;
			border-radius: 3px !important;
			-webkit-border-radius: 3px !important;
			-moz-border-radius: 3px !important;
			-ms-border-radius: 3px !important;
			-o-border-radius: 3px !important;
			box-shadow: 0 2px 7px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07) !important;
			border: 0px !important;
			font-size: 1em !important;
			position: relative !important;
			top: 1em !important;
			padding: 1em 2em !important;
	}
	#cta .button:hover {
			box-shadow: none !important;
			background: #f1f2f6 !important;
			color: #3ecf8e !important;

	}
	#navButton .toggle {
					text-decoration: none !important;
					height: 100% !important;
					background: white !important;
					left: 0 !important;
					/* position: absolute !important; */
					top: 0 !important;
					width: 100% !important;
					border: 0 !important;
					outline: 0 !important;
	}
	.full-footer__item__links ul , .full-footer__item__links ul li{
		padding-left: 0;
	}