
body {
  background-color: #f2f2f2;
  color: #333;
  padding-top: 70px;
  font-family: 'Raleway', sans-serif ! important;
}
h2
{
  font-size: 1.25em !important;
}
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #37a000;
}

.txt-gray{
  color : #b2b2b2;
}

.text-center{
  text-align: center;
}

.vf-main-header {
  border-bottom: 4px solid #f9f9f9;
  background-color: #fff;
  height: 70px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  padding-top: 4px;
  padding-bottom: 7px;
  position: fixed;
}
.vf-container{
  /*padding: 3em 0;*/
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  /*padding: 5px;*/
  border-radius: 5px;
}

.vf-standar-div {
  overflow: hidden;
}

.vf-nav-gotham {
  height: 55px;
  font-size: 14px;
}
.al_rad input[type="radio"]
{
 margin-top: 8px !important;
}
.al_rad input[type="checkbox"]{
  margin-top: 8px;
}
.header__icon {
  display: none;
}

.link-pull-left {
  float: left;
}
.vp-section{
  margin: 2px 5px 0px 0px;
}

li.has-submenu:hover ul.submenu {
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  background: white;
  opacity: 1;
}

li.has-submenu ul.submenu {
  opacity: 0;
  padding: 15px 0;
  position: absolute; 
  transition: opacity 0.5s ease-in-out;
}

li.has-submenu.active > a,
li.has-submenu li.active > a {
  color: #5bc579;
}

li.has-submenu ul.submenu > li {
  line-height: 35px;
  padding: 0 20px;
}
/*vendor Dashboard*/
.vf-saved-job th,
.vf-saved-job td{
    padding: 15px 0px 15px 5px! important;
    text-align: center;
}
.vf-wrap {
  background: #ffffff;
}
.vf-sidebar {
  padding: 0px 0px 0px 15px;
}
.div-border {
  border:2px solid #dddddd;
}

.vf-saved-job  th:first-child,
.vf-saved-job  td:first-child{
}

.vf-saved-job th{
  text-align: center;
}

.vf-saved-job tbody tr td:first-child{
  padding-left:15px!important;
  text-align: left; 
}

.vf-saved-job tbody tr td:last-child .button{
  margin: 5px auto;
  display: block;
  width: 90%;
}
.border-right {
  border-right: 2px solid #ececf1;
}
.job-show-more h3{
  background: #f3f3f3;
  color: #5fcf80;
  padding: 12px;
  cursor: pointer;
}

/*buttons*/
.vf-btn {
    padding: 6px;
}
.topbottom-margin {
 margin:20px 0px 10px 0px;
}
.button-margin{
  margin: 5px;
  padding: 10px;
}
.btnupload{
  width: 100%;
  text-align: center;
  margin:10px 0px 10px 0px;
}
.absolute {
  position: absolute;
}

img.profile{
  -webkit-border-radius: 104px;
  border-radius: 104px;
  border: 1px solid #ddd;
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 20px -2px #9C9C9C;
  box-shadow: 0 0 20px -2px #9C9C9C;
}
.profile canvas {
  -webkit-border-radius: 104px;
  border-radius: 104px;
  border: 1px solid #ddd;
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 20px -2px #9C9C9C;
  box-shadow: 0 0 20px -2px #9C9C9C;
}
.location-icon-img {
    float: left;
    width: 30px;
    height: 30px;
}
.five-star img{
  width: 100px;
}
.vf-album-icon {
    box-shadow: 0px 0px 1px 0px;
}
.vf-album-icon i {
  font-size: 40px;
  cursor: pointer;
  padding: 5px;
}
.icon-brown i {
  color: #eaa75f;
}
.icon-red i{
  color: #e25d5d;
}
.icon-green i{
  color: #657565;
}
.icon-blue i{
  color: #3f615e;
}
.icon-panel {
  border-radius: 8px;
}
.icon-panel span{
    font-size: 15px;
    color: #c3b4b4;
}
.icon-panel i ::hover{
  padding-top:2px;
}
ul.dropotron li a i 
{top: 4px;
padding-right: 5px;
}
.album-style {
    box-shadow: 0px 0px 7px 0px;
    padding: 20px;
}
.album-images img{
  width:100% ;
  height: 200px;
}

.album-first-images img{
  width: 100%;
}
.album-full-images img{
  width: 100%;
  height: 400px;
}
.model-image {
  border: 4px solid #ddd;
  margin: auto;
  display: block;
  width: 150px;
  height: 180px;
  -webkit-box-shadow: 0 0 20px -2px #9C9C9C;
  box-shadow: 0 0 20px -2px #9C9C9C; 
}
.vfform .feildcont textarea {
  float: left;
    width: 100%;
    padding: 7px 12px;
    border: 1px solid #e3e3e3;
    /*margin-bottom: 12px;*/
}
/*bussiness form*/
.vfform .feildcont textarea#description {
 margin-bottom: 0px;

}
ul.link-pull-left {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

ul.link-pull-left>li {
  float: left;
  line-height: 55px;
  padding: 0 12px;
}

ul.link-pull-left>li>a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #7d7d7d;
  font-weight: 600;
  font-size: 12px;
  outline: none;
}

.search-form {
  width: 285px;
  position: relative;
}

.search-form .q-s {
  width: 100%;
  outline: none;
  font-size: 12px;
  color: #333;
  padding: 10px 40px 10px 10px;
  border: 2px solid #e1e1e1;
  font-family: inherit;
  font-weight: 700;
  height: auto !important;
}

.s-btn {
  bottom: -2px;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  height: 100%;
  right: 0;
  position: absolute;
  width: 38px;
}

.s-btn i{
  color: #5fcf80;
}

.search-form .q-s:focus {
  border: 1px solid #5fcf80;
}

.search-form .q-s:hover {
  border: 1px solid #5fcf80;
}

ul.link-pull-left>li>a:hover {
  color: #5fcf80;
}

.link-pull-right {
  float: right;
}

ul.link-pull-right {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

ul.link-pull-right>li {
  float: left;
  line-height: 55px;
  margin: 0 0 0 25px;
}

ul.link-pull-right>li>a {
  text-decoration: none;
  cursor: pointer;
  color: #7d7d7d;
  font-weight: 600;
  font-size: 12px;
  outline: none;
}

.upper {
  text-transform: uppercase;
}

.bcv-btn {
  border: 2px solid #e1e1e1;
  padding: 9px 10px;
  color: #5fcf80;
}

.bcv-btn:hover {
  border-color: #5fcf80;
}

ul.link-pull-right>li>a .icon {
  font-size: 18px;
  margin: 10px 10px 0 0;
  position: relative;
  top: 3px;
}

ul.link-pull-left>li>a .icon {
  font-size: 18px;
  margin: 10px 10px 0 0;
  position: relative;
  top: 3px;
}

ul.link-pull-right>li>a:hover {
  color: #5fcf80;
}


/*========================================== HEADER STYLING =================================*/

.vf-hd {
  background-color: #5fcf80;
  background: url("/images/handshake.png");
  color: #fff;
}

.vf-hd .vf-standar-div {
  height: 80vh;
  min-height: 600px;
  position: relative;
}

.vf-left-title {
  top: calc(50% - 130px);
  float: right;
  width: 50%;
  position: absolute;
  right: 0;
}

.vf-left-title h1 {
  line-height: 1.2;
  
  letter-spacing: 1px;
  font-size: 280%;
  font-weight: 700;
}

.vf-left-title p {
  font-size: 110%;
  font-size: 1.3;
  margin: 2% 0;
}

.vf-hd-search {
  width: 100%;
  margin: 4% 0 0 0;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.vf-q {
  width: 84.66%;
  height: 50px;
  padding: 0 3%;
  float: left;
  font-family: inherit;
  border: 0;
  background: #fff;
  outline: none;
}

.vf-q-btn {
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 50px;
  width: 110px;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  background: #D88F3C;
}

.vf-main-header .search-form {
  display: block;
  float: left;
  line-height: 55px;
}


/*========================================== HOW IT WORKS =================================*/

.vf-hw-works {
  background-color: #fff;
  padding-bottom: 50px;
}

.vf-hw-works h1 {
  text-align: center;
  font-size: 230%;
  margin: 4% 0;
}

.hw-bx-wp {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hw-bx-ct-1 {
  overflow: hidden;
}

.hw-bx-ct-1 .hw-bx-im {
  float: left;
  width: 290px;
  margin-right: 2%;
  height: 250px;
}

.hw-bx-ct-1 .hw-bx-dt {
  float: left;
  width: 60.5%;
}

.hw-bx-ct-2 .hw-bx-im {
  float: right;
  width: 290px;
  margin-left: 2%;
  height: 250px;
}

.hw-bx-ct-2 .hw-bx-dt {
  float: right;
  width: 60.5%;
  text-align-last: right;
}

.hw-bx-ct-3 .hw-bx-im {
  float: left;
  width: 290px;
  margin-right: 2%;
  height: 250px;
}

.hw-bx-ct-3 .hw-bx-dt {
  float: left;
  width: 60.5%;
}

.hw-bx-dt h3 {
  margin: 0 0 5% 0;
  font-weight: 400;
  font-size: 130%;
}

.hw-bx-dt p {
  line-height: 1.5;
  color: #717f86;
  font-size: 16px;
  font-weight: 500;
}


/*========================================== HIRE STYLING =================================*/

.vf-hire{
  background-color: #f9f9f9;
}

.vf-hire #grid-display{
  overflow: hidden;
}

.vf-hire h1 {
  text-align: center;
  font-size: 230%;
  margin: 4% 0;
}

.one-fourth {
  display: block;
  width: 25%;
  height: 180px;
  line-height: 200px;
  font-size: 55%;
  background-color: #fff;
  border: 2px solid #f9f9f9;
  float: left;
  position: relative;
}

.one-fourth h3 {
  position: absolute;
  top: calc(50% - 5px);
  text-align: center;
  width: 100%;
}

a.one-fourth:before {
  background: #2ecc71;
  opacity: 0.5;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 0;
  transition: max-width 0.5s ease-in-out;
  width: 100%;

}

a.one-fourth:hover h3 {
  color: #2ecc71;
}

a.one-fourth:hover:before {
  right: 0;
  max-width: 100%;
}

.one-fourth h3 {
  font-size: 175%;
  font-weight: 400;
}

.view-all {
  text-align: center;
  margin: 4% 0;
}

.view-all a {
  border: 3px solid #f0f0f0;
  padding: 1% 3%;
  font-size: 14px;
}

.view-all a:hover {
  color: #2ecc71;
  border-color: #2ecc71;
}


/*========================================== TESTIMONIES STYLING ============================*/

.client-testimony {
  background-color: #fff;
  overflow: hidden;
  padding: 4% 0;
}

.testimony-content {
  padding: 0 15px;
  float: left;
  width: 50%;
  line-height: 1.5;
  text-align: left;
  color: #333;
}

.testimony-content h3 {
  font-size: 200%;
  line-height: 1.2;
  margin-bottom: 5%;
  padding-left: 15px;
  position: relative;
  padding-top: 10px;
  font-style: italic;
}

.testimony-content h3 img {
  position: absolute;
  left: 0;
  top: -5px;
  width: 22px;
}

.testimony-media {
  width: 49%;
  text-align: right;
  /*height: 200px;*/
  float: left;
}


/*========================================== BROWSE JOBS STYLING ============================*/

.job-bidding {
  padding: 0 0 4% 0;
}

.job-bidding h1 {
  margin: 4% 0;
  color: #333;
  font-size: 230%;
  text-align: left;
}

.job-bidding ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style-type: none;
  text-align: left;
}

.job-bidding ul li {
  -ms-flex-preferred-size: calc(25% - 30px);
  flex-basis: calc(25% - 30px);
  overflow: hidden;
  margin: 0 15px;
  line-height: 30px;
}


/*========================================== VENDOR TYPE STYLING ============================*/

.level-vendor {
  background-color: #fff;
  overflow: hidden;
  padding: 0 0 4% 0;
}

.level-vendor .services{
  border: 1px solid #e0e0e0;
  background-color: #ddd;
  display: -webkit-box;     
  display: -moz-box;        
  display: -ms-flexbox;     
  display: -webkit-flex;    
  display: flex;            
}

.level-vendor .services .service{
  text-align: center;
  padding: 20px;
  width: 33.333333%;
}

.level-vendor h1 {
  text-align: center;
  font-size: 230%;
  color: #333;
  margin: 4% 0;
}

.level-vendor tabel h3 {
  font-weight: 400;
}
.content-text {
  text-align: left;
  opacity: 1;
  /*font-size: 17px;*/
  line-height: 1.36;
  font-weight: 100;
  letter-spacing: -1px;
}

.font-gotham-light {
  font-size: 28px;
  line-height: 35px;
  /*margin: 33px -5px 14px;*/
  letter-spacing: -1px;
}

.vf-th-vg {
  width: 33.333333%;
  background-color: #f9f9f9;
  padding: 20px 40px!important;
  border: 0!important;
}

.vf-th-vg p{
  margin-bottom: 20px;
}
.m-t-40 {
  margin: 3% 0;
}

.text-granite {
  margin: 3% 0;
}

.bg-cloud-1 {
  border-top: 9px solid #f1c40f;
}

.bg-cloud-2 {
  border-top: 9px solid #f39c12;
}

.bg-cloud-3 {
  border-top: 9px solid #e67e22;
}

.sp-dv {
  clear: both;
  height: 50px;
  line-height: 50px;
}

.sp-dv a {
  border: 2px solid #d6d6d6;
  padding: 10px 20px;
  border-radius: 3px;
  background: #FFF;
  font-size: 14px;
}



/*.lr_a {*/


/*  padding: 4% 6%;*/


/*  border-radius: 3px;*/


/*  border: 2px solid #a1a1a1;*/


/*}*/


/*.lr_a:hover {*/


/*  border-color: inherit;*/


/*}*/


/*========================================== REGISTER STYLING ============================*/

.user-errors{
  width: 82%;
  margin: 0 auto 20px;
}
.user-errors ul{
  /*margin: 10px;*/
}
.loginbox {
  width: 400px;
  margin: 5% auto;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.loginbox h2 {
  font-size: 130%;
  text-align: center;
}

.loginbox form {
  padding: 0 20px 20px;
  margin-bottom: 10px;
}

.loginbox .signupbox{
  background: #f9f9f9;
  padding:30px 0;
}

.signupbox  .line-heading{
  margin-bottom: 20px;
  color: #333;
}

.signupbox  .line-heading:before {
    right: 10px;
    margin-left: -50%;
}

.signupbox  .line-heading:after {
    left: 10px;
    margin-right: -50%;
}

.signupbox .line-heading:before,
.signupbox .line-heading:after {
    background-color: #8f8e8e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}


.login-btn,
.loginbox .signupbox a{ 
  /*padding: 10px;*/
  font-weight: 500;
  cursor: pointer;
  outline: none;
  width: 50%;
  box-sizing: border-box;
  color: #5fcf80;
  font-size: 14px;
  margin: auto;
}

.loginbox .signupbox a{ 
  /*color: #333;
  border-color:#333;*/  
}

.form-input {
  
}

.form-table {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.9;
}
.register-form  td  {
      padding-bottom: 2px;
}
.register-form  td.default-padding{
  padding-top: 0 ;
  padding-bottom: 0;
}
.register-form  td span {
      font-size:  13px;

}

.input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 2% 5%;
  margin: 3% 0;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  outline: none;
  font-size: 100%;
  color: #333;
  font-family: inherit;
}

.input-field:focus {
  border: 1px solid rgb(95, 207, 128);
}

.account-created {
  margin: 4% auto;
  width: 70%;
  background-color: #fff;
  overflow: hidden;
  padding: 3%;
}

.account-created h3 {
  font-size: 190%;
  font-weight: 400;
  margin: 0 0 2% 0;
  line-height: 1.3;
}

.account-created p {
  line-height: 1.5;
}

.activate-account {
  height: 40px;
  width: 100px;
  color: #fff;
  outline: none;
  cursor: pointer;
  background-color: rgb(95, 207, 128);
  border: 1px solid rgb(95, 207, 128);
}

.email-activation {
  color: #3498db;
}

.activation-area {
  margin: 5% 0;
}

.div-center{
  left: 24%;
  right: 24%;
}
/*========================================== FOOTER STYLING ============================*/

.vf-main-ft {
  background-color: #222;
  padding: 5%;
  color: #fff;
}

.table > thead > tr > th {
  vertical-align: top;
}

/*========================================== MOBILE STYLING =================================*/

@media only screen and (max-width: 1199px) {
  .vf-standar-div {
    max-width: 970px;
  }
  .search-form {
    width: 216px;
  }
  .one-fourth {
    border: 1px;
  }
}
@media only screen and (max-width: 991px){
  .job-detail-panel .border-right{
     border-right:none !important;
  }
  .div-center{
  left: 0%;
  right: 0%;
}
}
@media only screen and (max-width: 988px) {
  .vf-standar-div {
    max-width: 750px;
  }
  .menu {
    display: none;
  }
  .logo img {
    margin: 5% auto;
    text-align-last: center
  }
  .vf-left-title {
    float: none;
    margin: 8% auto;
    text-align: center
  }
  .hw-bx-ct-1 {
    width: 100%;
    margin: 0 5%;
  }
  .hw-bx-ct-2 {
    width: 100%;
    margin: 0 5%;
  }
  .one-fourth {
    width: 49.7%
  }
  .hw-bx-ct-1 {
    width: 38.7%;
    float: left;
    margin: 0 5%;
    text-align: center;
  }
  .hw-bx-ct-2 {
    width: 38.7%;
    float: left;
    margin: 0 5%;
    text-align: center;
  }
  .hw-bx-ct-1 .hw-bx-dt {
    margin: 0 auto;
    width: 100%;
  }
  .hw-bx-ct-2 .hw-bx-dt {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    float: none;
  }
}

/*/side bar menu*/
.sidebar_widget ul.arrows_list1 {
  width: 100%;
}

.sidebar_widget ul.arrows_list1 li{
    padding: 5px 15px;
    border-left: 4px solid transparent;
}

.sidebar_widget ul.arrows_list1 li.selected,
.sidebar_widget ul.arrows_list1 li.active {
    background: #dddddd;
    border-left: 4px solid green;
}

.sidebar_widget ul.arrows_list1 li.selected a,
.sidebar_widget ul.arrows_list1 li.active a{
  color: #333;
}
.sidebar_widget ul.arrows_list1 li a{
  display: block;
  font-weight: 500;
}

@media only screen and (max-width: 970px) {
  .vf-hd-search {
    /*display: none;*/
    margin: 5% 5%;
    padding: 0;
  }
  .vf-hd {
    text-align: center;
    width: 100%;
  }
  .vf-left-title {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 768px){
  .modal-dialog {
      margin-top: 142px;
  }
}

.vendor-job-list{
  padding:0;
}
/* panel body
*/
.panel-body {
    padding: 20px 30px;
}

.panel-body .form-group {
    
}

.panel-heading{
    background-color: #dff0d8;
    padding: 20px 30px;
    overflow: hidden;
}

.panel-heading .button{
    padding: 5px 30px;
}

.panel-heading h3,
.panel-heading h2 {
    line-height: 37px;
    margin-bottom: 0;
}

.panel-group {
    background-color: white;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,.35);
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.vf-saved-job tr button{
  margin:5px 0px 5px 0px;
}

/** Job detials page */
.job-deatils-page{
  margin-top: 50px!important;
  margin-bottom: 50px!important;
}

.job-deatils-page .job-deatils{
  padding: 20px 10px 10px;
  overflow: hidden;
}
.job-deatils-page .detail-box{
  padding: 10px 10px 10px;
  overflow: hidden;
}
 .job-deatils-page .job-deatils .heading{
    background: #f3f3f3 ;
    padding: 20px 0px 20px 21px;
    overflow: hidden;
}
.job-deatils-page .job-heading h1{text-transform: capitalize;font-size: 20px;font-weight: 500;}
.job-deatils-page .job-heading h2{text-transform: capitalize;font-size: 16px;font-weight: 500;}
.job-deatils-page .job-deatils h3,
.job-deatils-page .job-requirement h3{
  margin: 0;
}
.job-deatils span{
  font-size: 20px;
}
.job-deatils-page .job-deatils .job-info > div,
.job-deatils-page .job-deatils .job-requirement > div{
  margin-bottom:25px;
}

.job-deatils-page .job-heading{
  padding-left:15px;
}

.job-detail-panel {
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,.35);
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.job-detail-panel h5{text-transform: capitalize;font-size: 16px;font-weight: 500;}
.proposal-detail span{font-size: 15px;}
.job-deatils-page .job-description{
  margin-top:15px;
  overflow: hidden;
}
.client-panel {
  padding: 20px;
}
.client-panel div{
  padding: 0px 0px 20px 0px;
}
.client-panel div h5{
  margin: 0;
}
.client-panel button{
  margin:5px 0px 5px 0px;
}

.client-panel .submit-proposal-buttons .button{
  width: 70%;
}
.client-panel .submit-proposal-buttons .button.default{
  background: white;
}

.modal-job-deatils {
  overflow: hidden;
}

/** job proposal detail */

.vf-textarea-halfsize textarea{
width: 98%;
    height: 200px;
}
.addproposal-margin{
        margin: 100px 0px 20px 20px;
}
/** job proposal terms */
.default-color {
  color: #59bd76;
}
.vf-dollor-sign{
  color: #59bd76;
  font-size: 30px;
    font-weight: bold;
    display: inline;
    margin-top:7px;
    float: right;
}
.vf-percentage-sign{
  font-size: 30px;
    display: inline;
    vertical-align:-webkit-baseline-middle;
}
.vf-terms div h3 {
  margin: 0px;
}
.vf-terms div  {
 margin:10px 0px 10px 0px;
}
.bottom-margin {
  margin-bottom:20px;
}
.margin-20 {
  margin:20px; 
}
/** bids page */
.margin-zero{
  margin: 0! important;
}
.vf-bids {
  font-size: 20px;
  border-bottom:1px solid #e3e3e3;
      margin: 10px 0px 10px 0px;
}
.bid-detail {
  margin:10px 0px 10px 0px;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
 background-image: linear-gradient(to bottom, #5fcf80 0, #5fcf80 100%)! important; 
}

.nav > li > a{
  padding: 2px 15px;
}
.submenu {
  margin-top: -1px;
}
.submenu-margin {
  margin-top:-3px; 
}
.album-margin div input{
  margin: 5px 0px 5px 0px;
}
.vfform .title h3 {
text-transform: unset !important;
}
/** vendor contract detail */
.rightbar-padding {
  padding:15px;
}
.rightbar-padding h3{
  margin: 0px;
}
.contract-sidebar img{
  width: 80px;
  height: auto;
  border-radius: 50px;

}
.loudicon i{
  font-size: 52px;
}
.vf-form-panel {
  padding: 40px;
 box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  
}
.rating-panel {
  width: 400px;
}
.imagePreview{
  width:50%;
  display: inline-block;

}
.imagePreview p{
  padding:10px ! important;

}

.imagePreview canvas{
  width: 100%;
    height: 100%;
  box-shadow: 0 0 13px 1px #9C9C9C;
    border: 3px solid white;
}
.coverimagePreview{
  width:30%;
  margin:5px;

}
.coverimagePreview canvas{
  width: 100%;
    height: 100%;
  box-shadow: 0 0 13px 1px #9C9C9C;
    border: 3px solid white;
}
.progressBar-d{
  width:30%;
}
.modelImages {
  width: 18%;
  float: left;
}
.modelImages canvas{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 13px 1px #9C9C9C;
  border: 3px solid white;
}
.viewimgs{
  width: 100%;
  
}
.viewimgs img{
  width: 18%;
    float: left;
    border: 5px solid #ece4e4;
    height: 100px;
    margin: 5px
}
.scrollimage {
  height: 200px ! important;

}
.viewimg {
  width: 100%;
  display: inline-block;
}
.viewimg img{
  width: 100px;
  height: 100px;
  margin: 5px;
}
.viewimg p {
  border-radius: 3px solid red;
}
.viewimg p canvas {
  width:100%;
}
.viewimg p span {
  width:80px;
}
.radioseriesli ul li{
  display: block ! important;
}
.tourfilter {
  padding: 20px;
  border: 2px solid #f2f2f2;
}
.searchtourguides td {
  vertical-align: middle ! important;
}
.padding_bottom2{
  padding-bottom: 20px;
}
.margin_right3{
  margin-right: 30px;
}
}
.searchtourguidefilter img{
      border-radius: 15px;
}
.profileimagesf{
  width: 125px;
  margin:5px;
}
.profileimagesf i{
  position:absolute;
  display: none;
  color: white;
  background: red;
  padding: 2px 3px;
  border-radius: 100%;
  margin: 0px 0px 0px 82px;  
}
.vieweditimg
{
  height: 100px;
}
#viewimage canvas{
  width: 100px;
  height: 100px;
}
.vieweditimg img
{
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.profileimage-inline div{
  float:left;
}

.postellip i{
  float: right;
}
.editpop ul{
display: none;
}
.dropbtn {
   background-color: transparent;
   color: black;
   padding: 0px 0px 0px 16px;
   font-size: 16px;
   border: none;
}

.dropdownpost {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
   display: block;
   position: absolute;
   min-width: 50px;
    margin: 15px 0px 0px -25px;
}

.dropdown:hover .dropbtn {
   background-color: ;
}
.job-detail-panel .border-right{
  border-right: #00000082 1px solid;
}
/*<=============================Notification=========================>*/

li ul.submenu .notif-width
{
  min-width: 280px ;

}
li ul.submenu .notif-width  h3.notif-pull-left
{
float: left;
}
li ul.submenu .notif-width  h3.notif-pull-right
{
float: right;
}
li ul.submenu .notif-width .notif-head{
    background:#F6F7F8;
    padding:5px;
    border-radius: 5px;
}
li ul.submenu .notif-width:first-child
{
 border-bottom: 1px #ccc solid; 
}
li ul.notification:before
{         
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #F6F7F8;
    margin-top:-25px;
    margin-left:10px;

}
li ul.submenu .notif-width h3 {      
        display:block;
        color:#333; 
        font-weight:bold;
        font-size:13px;    
        padding:5px;
        margin:0;
}
li ul.submenu .notif-width .seeAll {
    background:#F6F7F8;
    font-size:12px;
    font-weight:bold;
    border-top:solid 1px rgba(100, 100, 100, .30);
    text-align:center;
    margin: 0;
}
li ul.submenu .notif-width a.seeAll  {
    color:#5fcf80;
}
li ul.submenu .notif-width  a.seeAll:hover {
    background:#F6F7F8;
    color:#5fcf80;
    text-decoration:underline;
}
.showdate
{
  font-size: 16px;
}
.tourguidefindvendor{
width: 80%;
margin-left: 12%;
padding: 40px;
background: white;
}
.bottom-border td span img{
  border:3px solid #cbdacf;
  border-radius: 45%;
}
.tourguidesearch td{
  text-align: left;
}
.tourguidelistcenter h4 {
  padding:10px ! important;
  width: 55%;
}
.tourguidelistcenter span {
  width: 55%;
}
.addressfilter{
padding: .8em 1.5em;
width: 8.6em;
font-family: inherit;
float: left;
border: 0;
outline: none;
}
.filtercheckbox {
text-align: left;
}
.q-sf{
  width:15%;
  /*height: 5em !important;*/
  padding: 22px 10px 25px 10px !important;
}
.dq-sf{
width: 17%;
    height: 0 !important;
    padding: 10px 25px 38px 6px;
    border: 1px solid #e3e3e3;
    
}
.st-btn
{
  margin-left: -6px;
}
.namecapitalise
{
  text-transform: capitalize;
}.notifybarssetting span p {
  width:300px ! important;
}
/*<------------------------------------Error Style--------------------/>*/
.message
{
  color:#df0909;
}
/*<------------------end---------------->*/
.job_budget{
  color: #5fcf80;
  font-weight: 600;
  font-size: 30px;
}
.job_name
{
  font-size: 21px;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 10px;
}
.bottom-line
{
  border-bottom: 1px solid #dddddd;
  margin: 10px 0 10px 0;
}
.bottom-line:last-child { border-bottom: none;  }
#send_invitation_form a.invitation_rcvr_name{font-weight: 600;}
.job-title
{
  bottom: 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
/*<---------------- validation-------------/>*/
.text-danger{
  font-size: 16px !important; 
 font-family : serif !important;
}
.title-head
{
  float: left;
  font-weight: 700;
  /*text-transform: uppercase;*/
 font-size: 50px;
    line-height: 60px;
  color: #000;
  font-family: "Gotham Bold",Helvetica,Arial,sans-serif;

}
.unstyled
{

  list-style: none;
  padding-left: 0;
}
ul.unstyled li 
{
  padding-left: 0;
 
}

ul.unstyled li a{color: #37a000; background-color: transparent;}
ul.unstyled li a:active{color: #008329;}
ul.unstyled li a:hover{color: #008329; text-decoration: none;}
ul.unstyled li  a:active, a:hover {outline: 0;}
.category_head{
  font-weight: 500;
  color: #000;
}
.medium_cont
{
  width: 1300px !important;
}
.s_box1{
  height: auto !important;
}
.client-panel > .five-star > .showstar > div
{
  padding: 0;
}
.profhtg{
  font-size: 1.25em !important;
  font-weight: bolder;
}
.page_title2pro {
  padding: 10px 0px ! important;
  margin: -30px 0px 0px 0px;
}
.job-requirement p{
  padding:0px;
  margin:0px;
}
.job-requirement div{
  margin-bottom:5px ! important;
}
.client-panel > div {
  text-align: center;
}
.vendor-job-list .vfform {
  /*margin: 0px ! important;*/
}
.vf-bids .bid-detail {
  margin:0px ! important;
  padding:10px;
}
.feildcont .button {
  font-size: 17px;
}
.freelancer-search-form-wrapper .dq-sf {
  height: 50px ! important;
  padding: 1px 0px 9px 0px;
  font-family: inherit;
    font-weight: 200; 
  
}
.freelancer-search-form-wrapper button {
  /*height: 50px;
  padding: 5px 10px 10px 7px;*/
}
.freelancer-list-container .vfform {
  margin:0px! important;
}
.alert-danger p {
  text-align: center;
}
.alert-success p {
  text-align: center;
}
.job-text p {
  margin-bottom: 10px ! important;
}
.jo-requirement div p {
  margin-bottom: 3px ! important;
}
.rel {
 position: relative; 
}
.form-loader {
    width: 60px;
    position: absolute;
    left: 442px;
    display: none;
}
.detailhead {
    background: white;
      margin-bottom: 10px;
      box-shadow: 0px 1px 1px #f2f2f2;
}
.job-detail-panel {
  margin-bottom: 10px;
}
/*.dropotron {
  top:75px ! important;
}*/
.browshome {
  padding: 35px 0px 0px 0px;
}
.vfform .teamp{
  margin-bottom:0px ! important;
}
.coveri i{
    position: absolute;
     display: none; 
    color: white;
    background: red;
    padding: 2px 3px;
    border-radius: 100%;
    margin: 6px 0px 0px 251px;
  }
  /*.notif-width{
    white-space: normal ! important;
    width: 200% ! important;
  }*/
.notiftext{
  white-space: normal ! important;
  /*border-bottom: 1px solid #5fcf80;*/
  font: small-caption;
    font-size: 17px;
    box-shadow: 0px 1px 0px #5fcf80;
}
.notiftext a span{
  border:none ! important;
}
.notif-head h3{
  padding: 0px 0px 0px 20px ! important;
}

.notif-head {
  font-weight: 500;
}
.notif-head a {
  border:none ! important;
  padding: 0px 20px 0px 0px ! important; 
}
.seeAll {
  text-align: center;
}
.unstyled li{
  color:#5FCF7F;
}
.postlcode {
  height: 64px;
}
.elepsisab {
  position: absolute;
  right:25px;
}
.tumblerform {
  margin:0px 0px 15px 0px ! important;
}
.locfa .fa {
  color:#5fcf80;
  font-size: 26px; 
}
.searchtourguidefilter p{
  margin: 0px ! important;
}
.imagetr{
     width: 150px ! important;
    height: 150px! important;
}
.imagetr img{
     width: 100% ! important;
    height: 100% ! important;
}
.profileimg {
      width: 50%;
    height: 170px;
    border-radius: 200px;
    text-align: center;
    margin: 0px 0px 0px 83px;
    overflow: hidden;
    box-shadow: 0px 1px 4px 0px;
}
.profileimg img {
  width: 100%;
  height:100%;
    padding: 5px;
}
.jq-star svg {
  width: 100%;
  height: 100%;
}
.jq-stars .jq-star{
  float: left;
}
.client-panel .cpan {
  text-align: left ! important;
}
.offers__cell .text a{
  color: #37a000;
}
.contractsstyle {
  border-bottom: none;
}
.cframe {
  margin:40px 0px 40px 0px;
}
.coverimagePreview p {
  margin: 0px ! important;
}
.parpo .spand {
  font-size: 16px;
}
.vf-textarea-halfsize .col-md-2 label{
  margin:0px;
}
.expthis {
  cursor: pointer;
}
.editwrap {
  padding-bottom: 0px ! important;
}
.job_budget h5 {
  font-size: 20px;
    font-weight: normal;   
}
.stars-total {
  text-align: left ! important;}
.field-srh
{
  min-height: 47px !important;
  max-height: 47px !important;
  background: #5fcf80;
  color: #fff;
  line-height: 2px;
  right: 35px !important;
  top: 1.21em !important;
}
.maxfilesize {
  font-size:16px;
}
.jbdtl_div p{
  margin-bottom:10px; 
}
.forp p {
  margin-bottom: 10px ! important;
}
.hirecont {
  padding: 0px 20px 25px 20px ! important; 
}
.hirecan {
  padding: 17px 15px 17px 15px ! important;
}
.postformt {
  margin: 0px 0px 15px 0px ! important; 
}
.postsiderp p {
  margin:0px 0px 10px 0px ! important;
}
.profprogdocs {
  font-size: 15px ! important;
  margin-bottom: 0px ! important;
}
.profprogdocs .progress {
  margin-bottom: 0px ! important;
}
.progress {
  display: none;
}
.setformlab label{
  margin-bottom:0px ! important;
}