.job-posting-form{
	margin-top: 50px;
}
.form-fields{
}
.job-posting-form form section h1:first-child{
	width:95%;
	font-family: "Gotham-Medium";
	text-align:center;
	padding: 10px 0px 0px 2px;
	color: white;
}	
.job-posting-form  .posting-form-fields {
	padding: 10px 10px 25px 40px;
}
.job-posting-form  .form-select-field {
	height: 40px! important;
	width: 300px;
	font-family: inherit;
	border:1px solid #e1e1e1;
	background:#f9f9f9;	
}
.job-posting-form  .form-select-field:focus {
  border: 1px solid rgb(95, 207, 128);
}
.job-posting-form  .form-table div label {
	color: #454545;
}
.job-posting-form .section-design {
    border: 2px solid #e1e1e1;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 2px 11px 0px;
}
.job-posting-form .btn-size-color {
	width: auto;
	padding: 10px;
	background: rgb(95, 207, 128);
	color: white;
}
.job-posting-form .labels-extra-padding input{
	margin: 15px 0px 5px 0px;
    width: 32px;
    height: 26px;
}
.label-width label {
	width:150px;
}
.color-main-bg {
	background: rgb(95, 207, 128);
}
.border-heading-div {
	border-radius: 5px;
}
.job-posting-form .posting-form-fields .job-post-field-padding {
	    margin: 5px 0px 5px 0px;
}
