.personal-info-name {
	padding:10px 10px 10px 10px;
}
.personal-info-input-field {
	width: 100%;
	height: 50px;
	margin: 5px 0px 5px 0px;
	border:1px solid #e1e1e1;
	background: #f1eae459;
}
.personal-info-input-field:hover {
	border: 1px solid #60cf80;
	background: #ffffff;
}
.personal-info-input-field:focus {
	border: 1px solid #60cf80;
}
.checkbox-size {
	width: 20px;
	height: 20px;
}
.checkbox-type div ul {
	float: left;
}
.fields-margin {
	margin: 20px 0px 10px 0px;
}
.measurment-radio-btn {
	margin: 20px;
}
.personal-info{
	padding: 10px;
}
.text-area-field {
	width: 100%;
	height: 150px;
	margin: 5px 0px 5px 0px;
	border:1px solid #e1e1e1;	
}
.text-area-field:focus {
	border:1px solid #60cf80;	
}
.measurment-vendor-image img{
	margin:8px;
	border-radius: 50%;
}