body {
    font-family: helvetica, arial;
}

h2 {
    margin: 20px 0;
}

.feedback_lk {
    text-decoration: none;
    color: royalblue;
}

hr {
    margin: 40px 0;
    border-top: 1px dashed #dddddd;
}

.logo {
	width: 300px;
}

iframe {
    margin: 10px 0;
    display: block;
}

.info {
    font-size: 13px;
    color: lightgray;
}

.content {
    width: 640px;
}

.live-rating {
  font-size: 43px;
  margin-left: 10px;
  color: hotPink;
  top: -3px;
  position: relative;
}

pre.prettyprint {
    font-family: "Lucida Console", Monaco, monospace;
    display: block;
    margin: 20px 0;
    font-size: 13px;
    line-height: 20px;;
    padding: 20px;
    background: #EEEEEE;
    border: 0;
}

