<template>
    <li class="dropdown">
        <a href="javascript:;" data-href="/vendor/invites" :data-notif-id="unread.data.content.id" :data-operation=" unread.data.notif ">
            <div class="row">
                <div class="col-md-6 col_black notifybarssetting">
                    <span>{{ unread.data.senduser}}</span> <span>{{unread.data.notif }} 
                    {{unread.data.content.job.name}}</span> <br>
                </div>
                <div class="clearfix"></div>
            </div>
        </a>
    </li>
</template>

<script>
export default {
       props: ['unread'],
      data(){
        return {
            notifUrl:''
         }
       },
       mounted(){
       this.notifUrl="/markread/"+this.unread.data.content.id
       }
}
</script>
