<template>
     <li class="dropdown " >
        <a href="" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell-o" style="font-size:20px"></i>
            <span class="badge text-sm">{{unreadNotifications.length}}</span>.
        </a>
        <ul class="submenu  notification " style="width:20%;" id="notifList">
            <template v-if="unreadNotifications.length >2">
	            <li class="dropdown notif-width ">
	                <div class="notif-head">
	                <h3 class=""  style="display:inline! important; ">Notification</h3>
	            </div>
	            </li>
	            <li class="appendnotif"></li>    
           </template>
                             
               	<template v-if="unreadNotifications.length >2">
	                <li class="notif-width"> 
	                  
	                </li>
                </template>
        </ul>
    </li>
</template>
<script>

var unreadNotifications =[]; 
    export default {
       props: ['unreads','userid'],
       
       	data(){
       		return {
       			unreadNotifications : this.unreads,
       		}
       	},
        methods: {
            allmarkurl(markall) {
                return route('markall')
            },
             seeallurl(seeall) {
                return route('client.all.notification')
            }
         },   
       	mounted() {
            console.log('Component mounted.')
            Echo.private('App.User.' + this.userid)
	    	.notification((notification) => {
	        
        	let newUnreadNotifications={data:{content:notification.content,user:notification.user}};
        	this.unreadNotifications.push(newUnreadNotifications);
        	if(this.unreadNotifications.length > 0){

        		for(var i=0; i<this.unreadNotifications.length; i++)
        		{
        			if(this.unreadNotifications[i].data.senduser != undefined){
        				var senduser =this.unreadNotifications[i].data.senduser;
        				var notif =this.unreadNotifications[i].data.notif;
        				var jobname = this.unreadNotifications[i].data.content.job.name;
        				var created_at = this.unreadNotifications[i].data.content.created_at;
        				var id = this.unreadNotifications[i].data.content.id;
			        	var appendedData = '<li class="dropdown">'+'<a href="javascript:;" data-href="/vendor/invites" data-notif-id="'+id+'" data-operation="'+notif+'">'+'<div class="row">'+'<div class="col-md-6 col_black notifybarssetting">'+'<span>'+ senduser+'</span> <span>'+notif+' '+jobname+'</span> <br>'+'</div>'+'<div class="clearfix"></div>'+'</div>'+'</a>'+'</li>';
			        	console.log(appendedData);
			        	$('#notifList').append(appendedData);
        			}
        		}

        	}else{
        		var appendedData = '<li class="dropdown" id="no-notif">'+
				                        +'<div class="row">'+
				                             +'<div class="text-center">'+
				                                +'No Notification'+
				                            +'</div>'+
				                            +'<div class="clearfix"></div> '+
				                        +'</div> '+
				                    +'</li>';
				$('#notifList').append(appendedData);

        	}
    	});
        }
    }
</script>
